@import url('https://fonts.googleapis.com/css?family=Knewave&display=swap');

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* background: linear-gradient(122.08deg, #E0A2A2 2.69%, #CFBADF 90.62%); */
  background: linear-gradient(to top, #3a6073, #3a7bd5);
  
  font-family: 'Knewave', cursive;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin: auto;
}

h5 {
  margin: auto;
  margin-bottom: 5px;
}

.top-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-container {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: auto;
}

.flex-container .left-side {
  width: 180px;
}

.flex-container .middle {
  text-align: right;
}

.flex-container .right-side {
  width: 180px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.middle {
  margin: 0 10px;
}

canvas {
  display: block;
  padding: 0;
}

.score {
  text-align: right;
}

button {
  max-width: 90px;
  background: #FFFFFF;
  font-family: 'Knewave', cursive;
  border: 1px solid #FFEBEB;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
}

input {
  max-width: 140px;
  background: #FFFFFF;
  font-family: cursive;
  border: 1px solid #FFEBEB;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 5px;
}

img {
  display: flex;
  margin: auto;
  width: "50px";
  height: "50px";
}