body {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  color: tomato;
}

canvas {
  display: block;
  margin: 0;
  padding: 0;
}

.score {
  text-align: right;
  max-width: 400px;
  margin-top: 10px;
  font-size: 28px;

}

.button {
  cursor: pointer;
  padding: 7px 15px;
  background-color: tomato;
  border-radius: 4px;
  color: white;
  width: 80px;
  text-align: center;
  margin-top: 20px;
  visibility: hidden;
}

.user-name {
  padding: 2.5px;
  visibility: hidden;
}

.button:hover {
  background-color: rosybrown;
}

.top-scores {
  display: flex;
  width: 400px;
  color: black;
  border: double;
  margin-top: 5px;
  padding: 5px;
  align-items: center;
  text-align: left;
  justify-content: center;
  -webkit-box-sizing: border-box;
}